<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisky Master</title>
</head>
    <h1 style="text-align: center;">Whisky Master</h1>
<body>
    <div style="display: flex; gap: 510px;">
        <h2>Register</h2>
        <h2>Log out</h2>
        <h2>View Orders</h2>
        <h2>Log in</h2>
    </div>
    <div>
        <ul style="list-style-type: none;">
            <li th:each="product : ${products}" style="margin-bottom: 20px; border: 1px solid #000000; padding: 10px;">
                <img th:src="${product.imageUrl}" alt="Product Image" style="width: 200px; height: 200px; object-fit: cover;"/>
                <h3 th:text="${product.name}"></h3>
                <p th:text="${product.description}"></p>
                <p>Price: $<span th:text="${product.price}"></span></p>
                <a th:href="@{/product/{id}(id=${product.id})}">View Details</a>
            </li>
        </ul>
    </div>
</body>
</html>