<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <div class="nav-container">
        <a th:href="@{/}" sec:authorize="!isAuthenticated()"><h2>Back to Home</h2></a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()"><h2>Log out</h2></a>
        <a th:href="@{/api/orders}" sec:authorize="isAuthenticated()"><h2>View Orders</h2></a>
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()"><h2>Log in</h2></a>
    </div>
    <form th:action="@{/api/users/Register}" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" required />
        </div>

         <div>
            <label>Password:</label>
            <input type="text" name="password" required />
        </div>

         <div>
            <label>Email:</label>
            <input type="email" name="email" required />
        </div>

         <div>
            <label>First name:</label>
            <input type="text" name="firstname" required />
        </div>

         <div>
            <label>Surname:</label>
            <input type="text" name="surname" required />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    
</body>
</html>